# CONFIGURACIÓN COMPARTIDA
SERVICE_NAME=ms-infracciones
PORT=8004

# 1. LOCAL NATIVE (Host PC)
# INFRACCIONES_DB_HOST=localhost
# INFRACCIONES_DB_PORT=5435
# INFRACCIONES_DB_NAME=infracciones_db
# INFRACCIONES_DB_USER=admin
# INFRACCIONES_DB_PASSWORD=admin123

# 2. PROVISIONAMIENTO NATIVO (Vagrant)
# INFRACCIONES_DB_HOST=localhost
# INFRACCIONES_DB_PORT=5435
# INFRACCIONES_DB_NAME=infracciones_db
# INFRACCIONES_DB_USER=admin
# INFRACCIONES_DB_PASSWORD=admin123

# 3. DOCKER (Local)
# INFRACCIONES_DB_HOST=db-infracciones
# INFRACCIONES_DB_PORT=5432
# INFRACCIONES_DB_NAME=infracciones_db
# INFRACCIONES_DB_USER=admin
# INFRACCIONES_DB_PASSWORD=admin123

# 4. SWARM (Producción)
# Nota: INFRACCIONES_DB_PASSWORD se maneja vía Docker Secrets
# INFRACCIONES_DB_HOST=db-infracciones
# INFRACCIONES_DB_PORT=5432
# INFRACCIONES_DB_NAME=infracciones_db
# INFRACCIONES_DB_USER=admin
