# CONFIGURACIÓN COMPARTIDA
SERVICE_NAME=ms-infracciones
PORT=8004
JWT_SECRET=supersecretkey_auth_2026

# 1. LOCAL NATIVE (Host PC)
# INFRACCIONES_DB_HOST=localhost
# INFRACCIONES_DB_PORT=5435
# INFRACCIONES_DB_NAME=infracciones_db
# INFRACCIONES_DB_USER=admin
# INFRACCIONES_DB_PASSWORD=admin123

# 2. PROVISIONAMIENTO NATIVO (Vagrant)
# INFRACCIONES_DB_HOST=localhost
# INFRACCIONES_DB_PORT=5432
# INFRACCIONES_DB_NAME=infracciones_db
# INFRACCIONES_DB_USER=infracciones_user
# INFRACCIONES_DB_PASSWORD=infracciones_pass
# PERSONAS_SERVICE_URL=http://localhost:8002/api
# AUTOMOTORES_SERVICE_URL=http://localhost:8003/api

# 3. DOCKER (Local)
# INFRACCIONES_DB_HOST=127.0.0.1
# INFRACCIONES_DB_PORT=5435
# INFRACCIONES_DB_NAME=infracciones_db
# INFRACCIONES_DB_USER=infracciones_user
# INFRACCIONES_DB_PASSWORD=infracciones_pass
# PERSONAS_SERVICE_URL=http://localhost:8002/api
# AUTOMOTORES_SERVICE_URL=http://localhost:8003/api

# 4. SWARM (Producción)
# Nota: INFRACCIONES_DB_PASSWORD y JWT_SECRET se manejan vía Docker Secrets
# INFRACCIONES_DB_HOST=db-infracciones
# INFRACCIONES_DB_PORT=5432
# INFRACCIONES_DB_NAME=infracciones_db
# INFRACCIONES_DB_USER=admin
