# CONFIGURACIÓN COMPARTIDA
SERVICE_NAME=ms-infracciones
PORT=8004

# 1. LOCAL NATIVE (Host PC)
# DB_HOST=localhost
# DB_PORT=5435
# DB_NAME=infracciones_db
# DB_USER=admin
# DB_PASSWORD=admin123

# 2. PROVISIONAMIENTO NATIVO (Vagrant)
# DB_HOST=localhost
# DB_PORT=5435
# DB_NAME=infracciones_db
# DB_USER=admin
# DB_PASSWORD=admin123

# 3. DOCKER (Local)
# DB_HOST=db-infracciones
# DB_PORT=5432
# DB_NAME=infracciones_db
# DB_USER=admin
# DB_PASSWORD=admin123

# 4. SWARM (Producción)
# Nota: DB_PASSWORD se maneja vía Docker Secrets
# DB_HOST=db-infracciones
# DB_PORT=5432
# DB_NAME=infracciones_db
# DB_USER=admin
