# CONFIGURACIÓN COMPARTIDA
SERVICE_NAME=ms-auth-service
PORT=8001
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_DAYS=7

# 1. LOCAL NATIVE (Host PC)
# AUTH_DB_HOST=127.0.0.1
# AUTH_DB_PORT=5432
# AUTH_DB_NAME=auth_db
# AUTH_DB_USER=auth_user
# AUTH_DB_PASSWORD=auth_pass
# JWT_SECRET=supersecretkey_auth_2026
# PERSONAS_SERVICE_URL=http://localhost:8002/api

# 2. PROVISIONAMIENTO NATIVO (Vagrant)
# AUTH_DB_HOST=localhost
# AUTH_DB_PORT=5432
# AUTH_DB_NAME=auth_db
# AUTH_DB_USER=auth_user
# AUTH_DB_PASSWORD=auth_pass
# JWT_SECRET=supersecretkey_auth_2026
# PERSONAS_SERVICE_URL=http://localhost:8002/api

# 3. DOCKER (Local)
# AUTH_DB_HOST=127.0.0.1
# AUTH_DB_PORT=5432
# AUTH_DB_NAME=auth_db
# AUTH_DB_USER=auth_user
# AUTH_DB_PASSWORD=auth_pass
# JWT_SECRET=supersecretkey_auth_2026
# PERSONAS_SERVICE_URL=http://localhost:8002/api

# 4. SWARM (Producción)
# Nota: AUTH_DB_PASSWORD y JWT_SECRET se manejan vía Docker Secrets
# AUTH_DB_HOST=db-auth
# AUTH_DB_PORT=5432
# AUTH_DB_NAME=auth_db
# AUTH_DB_USER=admin
# PERSONAS_SERVICE_URL=http://ms-personas:8002/api
