SERVICE_NAME=ms-auth-service
PORT=8001

DB_HOST=localhost
DB_PORT=5433
DB_NAME=auth_db
DB_USER=auth_user
DB_PASSWORD=auth_pass

JWT_SECRET=supersecretkey_auth_2026
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_DAYS=7