# CONFIGURACIÓN COMPARTIDA
SERVICE_NAME=ms-automotores
PORT=8003


# 0. .env
# AUTOMOTORES_DB_HOST=127.0.0.1
# AUTOMOTORES_DB_PORT=5434
# AUTOMOTORES_DB_NAME=automotores_db
# AUTOMOTORES_DB_USER=automotores_user
# AUTOMOTORES_DB_PASSWORD=automotores_pass

#PERSONAS_SERVICE_URL=http://localhost:8002/api
#JWT_SECRET=supersecretkey_auth_2026

# 1. LOCAL NATIVE (Host PC)
# AUTOMOTORES_DB_HOST=localhost
# AUTOMOTORES_DB_PORT=5434
# AUTOMOTORES_DB_NAME=automotores_db
# AUTOMOTORES_DB_USER=admin
# AUTOMOTORES_DB_PASSWORD=admin123
# PERSONAS_SERVICE_URL=http://localhost:8002/api

# 2. PROVISIONAMIENTO NATIVO (Vagrant)
# AUTOMOTORES_DB_HOST=localhost
# AUTOMOTORES_DB_PORT=5434
# AUTOMOTORES_DB_NAME=automotores_db
# AUTOMOTORES_DB_USER=admin
# AUTOMOTORES_DB_PASSWORD=admin123
# PERSONAS_SERVICE_URL=http://localhost:8002/api

# 3. DOCKER (Local)
# AUTOMOTORES_DB_HOST=db-automotores
# AUTOMOTORES_DB_PORT=5432
# AUTOMOTORES_DB_NAME=automotores_db
# AUTOMOTORES_DB_USER=admin
# AUTOMOTORES_DB_PASSWORD=admin123
# PERSONAS_SERVICE_URL=http://ms-personas:8002/api

# 4. SWARM (Producción)
# Nota: AUTOMOTORES_DB_PASSWORD se maneja vía Docker Secrets
# AUTOMOTORES_DB_HOST=db-automotores
# AUTOMOTORES_DB_PORT=5432
# AUTOMOTORES_DB_NAME=automotores_db
# AUTOMOTORES_DB_USER=admin
# PERSONAS_SERVICE_URL=http://ms-personas:8002/api
