# CONFIGURACIÓN COMPARTIDA
APP_HOST=0.0.0.0
APP_PORT=8010
UPLOAD_FOLDER=./data/uploads

# 1. LOCAL NATIVE (Host PC)
# SPARK_MASTER_URL=local[*]

# 2. PROVISIONAMIENTO NATIVO (Vagrant)
# SPARK_MASTER_URL=local[*]

# 3. DOCKER (Local)
# SPARK_MASTER_URL=local[*]

# 4. SWARM (Producción)
# SPARK_MASTER_URL=spark://spark-master:7077
