node_modules
.env
# Environments
.env.local
.env.vagrant
.env.swarm
.env.producción
.env.docker-push
dist
coverage
*.log
.vagrant
Vagrantfile

# Secretos y datos sensibles
provisioning_docker/secrets/
/secrets/
*.key
*.pem