# Dependencias
node_modules/

# Frontend
.vite/
dist/
build/
coverage/
*.map

# Logs
*.log

# Entornos
.env
.env.*
!.env.example

# Vagrant
.vagrant

# Secretos
secrets/
*.pem
*.key

# Artefactos
*.zip
*.tar.gz