global
    log stdout format raw local0
    maxconn 4096

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend simcomp_front
    bind *:80

    # ACLs para identificar tráfico de API y documentación
    acl is_api path_beg /api
    acl is_auth path_beg /auth
    acl is_docs path_beg /docs
    acl is_swagger path_beg /swagger

    # Enrutar a los gateways si es API o Docs
    use_backend gateway_nodes if is_api
    use_backend gateway_nodes if is_auth
    use_backend gateway_nodes if is_docs
    use_backend gateway_nodes if is_swagger

    # Por defecto, enviar al frontend
    default_backend frontend_nodes

backend frontend_nodes
    balance roundrobin
    option httpchk GET /
    # Se espera que existan frontend1 y frontend2 en la red de docker
    server frontend1 frontend1:80 check
    server frontend2 frontend2:80 check

backend gateway_nodes
    balance roundrobin
    option httpchk GET /
    # Balanceo entre las dos instancias de gateway
    server gateway1 gateway1:80 check
    server gateway2 gateway2:80 check

listen stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 5s
    stats show-legends
    stats show-node
    stats auth admin:Admin123*


