VITE_AUTH_API=http://{{ domain }}/api/auth
VITE_PERSONAS_API=http://{{ domain }}/api/personas
VITE_AUTOMOTORES_API=http://{{ domain }}/api/automotores
VITE_INFRACCIONES_API=http://{{ domain }}/api/infracciones
VITE_COMPARENDOS_API=http://{{ domain }}/api/comparendos
