SERVICE_NAME=ms-reportes
PORT=8006
NODE_ENV=development

AUTH_SERVICE_URL=http://localhost:8001
PERSONAS_SERVICE_URL=http://localhost:8002
AUTOMOTORES_SERVICE_URL=http://localhost:8003
INFRACCIONES_SERVICE_URL=http://localhost:8004
COMPARENDOS_SERVICE_URL=http://localhost:8005

REQUEST_TIMEOUT_MS=15000
MAX_IMPORT_ROWS=10000
JWT_SECRET=supersecretkey_auth_2026