STACK_NAME=simcomp

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

AUTH_DB_NAME=auth_db
PERSONAS_DB_NAME=personas_db
AUTOMOTORES_DB_NAME=automotores_db
INFRACCIONES_DB_NAME=infracciones_db
COMPARENDOS_DB_NAME=comparendos_db

JWT_SECRET=supersecret_simcomp_2026

MANAGER_IP=192.168.100.2
WORKER1_IP=192.168.100.3
WORKER2_IP=192.168.100.4