NODE_ENV={{ node_env }}
SERVICE_NAME={{ item.name }}
PORT={{ item.port }}
DB_HOST=localhost
DB_PORT={{ item.db_port }}
DB_NAME={{ item.db }}
DB_USER={{ pg_user }}
DB_PASSWORD={{ pg_password }}
JWT_SECRET={{ jwt_secret }}

{% if item.name == 'ms-auth-service' %}
JWT_ACCESS_EXPIRY={{ jwt_access_expiry }}
JWT_REFRESH_EXPIRY={{ jwt_refresh_expiry }}
{% endif %}

{% if item.name == 'ms-automotores' %}
AUTH_SERVICE_URL=http://localhost:8001
PERSONAS_SERVICE_URL=http://localhost:8002
{% endif %}

{% if item.name == 'ms-comparendos' %}
AUTH_SERVICE_URL=http://localhost:8001
PERSONAS_SERVICE_URL=http://localhost:8002
AUTOMOTORES_SERVICE_URL=http://localhost:8003
INFRACCIONES_SERVICE_URL=http://localhost:8004
{% endif %}

{% if item.name == 'ms-infracciones' %}
AUTH_SERVICE_URL=http://localhost:8001
{% endif %}

{% if item.name == 'ms-personas' %}
AUTH_SERVICE_URL=http://localhost:8001
{% endif %}
