# CONFIGURACIÓN COMPARTIDA
SERVICE_NAME=ms-automotores
PORT=8003

# 1. LOCAL NATIVE (Host PC)
# DB_HOST=localhost
# DB_PORT=5434
# DB_NAME=automotores_db
# DB_USER=admin
# DB_PASSWORD=admin123
# PERSONAS_SERVICE_URL=http://localhost:8002/api

# 2. PROVISIONAMIENTO NATIVO (Vagrant)
# DB_HOST=localhost
# DB_PORT=5434
# DB_NAME=automotores_db
# DB_USER=admin
# DB_PASSWORD=admin123
# PERSONAS_SERVICE_URL=http://localhost:8002/api

# 3. DOCKER (Local)
# DB_HOST=db-automotores
# DB_PORT=5432
# DB_NAME=automotores_db
# DB_USER=admin
# DB_PASSWORD=admin123
# PERSONAS_SERVICE_URL=http://ms-personas:8002/api

# 4. SWARM (Producción)
# Nota: DB_PASSWORD se maneja vía Docker Secrets
# DB_HOST=db-automotores
# DB_PORT=5432
# DB_NAME=automotores_db
# DB_USER=admin
# PERSONAS_SERVICE_URL=http://ms-personas:8002/api
