SERVICE_NAME=ms-automotores
NODE_ENV=development
PORT=8003

DB_HOST=postgres-automotores
DB_PORT=5434
DB_NAME=automotores_db
DB_NAME=automotores_db
DB_USER=automotores_user
DB_PASSWORD=automotores_pass

PERSONAS_SERVICE_URL=http://localhost:8002/api
AUTOMOTORES_SERVICE_URL=http://localhost:8003/api
INFRACCIONES_SERVICE_URL=http://localhost:8004/api