SERVICE_NAME=ms-automotores
PORT=8003

DB_HOST=localhost
DB_PORT=5434
DB_NAME=automotores_db
DB_USER=automotores_user
DB_PASSWORD=automotores_pass

PERSONAS_SERVICE_URL=http://localhost:8002/api
JWT_SECRET=supersecretkey_auth_2026
