SERVICE_NAME=ms-personas
PORT=8002

DB_HOST=postgres-personas
DB_PORT=5433
DB_NAME=personas_db
DB_USER=personas_user
DB_PASSWORD=personas_pass

PERSONAS_SERVICE_URL=http://localhost:8002/api
AUTOMOTORES_SERVICE_URL=http://localhost:8003/api
INFRACCIONES_SERVICE_URL=http://localhost:8004/api