# CONFIGURACIÓN COMPARTIDA
SERVICE_NAME=ms-personas
PORT=8002
JWT_SECRET=supersecretkey_auth_2026

# 1. LOCAL NATIVE (Host PC)
# PERSONAS_DB_HOST=localhost
# PERSONAS_DB_PORT=5433
# PERSONAS_DB_NAME=personas_db
# PERSONAS_DB_USER=admin
# PERSONAS_DB_PASSWORD=admin123
# AUTH_SERVICE_URL=http://localhost:8001
# AUTOMOTORES_SERVICE_URL=http://localhost:8003/api
# COMPARENDOS_SERVICE_URL=http://localhost:8005/api
# INFRACCIONES_SERVICE_URL=http://localhost:8004/api

# 2. PROVISIONAMIENTO NATIVO (Vagrant)
# PERSONAS_DB_HOST=localhost
# PERSONAS_DB_PORT=5432
# PERSONAS_DB_NAME=personas_db
# PERSONAS_DB_USER=personas_user
# PERSONAS_DB_PASSWORD=personas_pass
# AUTOMOTORES_SERVICE_URL=http://localhost:8003/api
# INFRACCIONES_SERVICE_URL=http://localhost:8004/api

# 3. DOCKER (Local)
# PERSONAS_DB_HOST=127.0.0.1
# PERSONAS_DB_PORT=5433
# PERSONAS_DB_NAME=personas_db
# PERSONAS_DB_USER=personas_user
# PERSONAS_DB_PASSWORD=personas_pass
# PERSONAS_SERVICE_URL=http://localhost:8002/api
# AUTOMOTORES_SERVICE_URL=http://localhost:8003/api
# COMPARENDOS_SERVICE_URL=http://localhost:8005/api
# INFRACCIONES_SERVICE_URL=http://localhost:8004/api
# AUTH_SERVICE_URL=http://localhost:8001

# 4. SWARM (Producción)
# Nota: PERSONAS_DB_PASSWORD y JWT_SECRET se manejan vía Docker Secrets
# PERSONAS_DB_HOST=db-personas
# PERSONAS_DB_PORT=5432
# PERSONAS_DB_NAME=personas_db
# PERSONAS_DB_USER=admin
# AUTH_SERVICE_URL=http://ms-auth-service:8001
# AUTOMOTORES_SERVICE_URL=http://ms-automotores:8003/api
# COMPARENDOS_SERVICE_URL=http://ms-comparendos:8005/api
# INFRACCIONES_SERVICE_URL=http://ms-infracciones:8004/api
